.canvasWrap {
  position: absolute;
  color: white;
  z-index: 20;
  left: 70px;
  top: 5px;
}

.canvasInner {
  float: left;
  margin-left: 8px;
  margin-top: 3px;
  margin-right: 1px;
  font-size: 16px;
}

.canvasContainer {
  /* width: calc(100% - 52px); */
  /* width: 100%; */
  background-color: #00000030;
  /* overflow: scroll; */
  /* max-height: 60vh; */
  /* height: 550px; */
}

.canvasDrawer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.canvasBg {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.canvasLoc {
  position: relative;
  text-align: left;
  line-height: 0;
  height: 100%;
  width: 100%;
  background-color: red;
}

.full {
  width: 100% !important;
}
